<html>
    <head>
        <title>Books page</title>
    </head>
    <body>
        <h1 style="text-align:center;">Amazon Book Store</h1>

        <div class="container" style="background-color:dodgerblue;">
            <h2>Wide Selection|25M+ Books in 8+ Languages|Everything for your Academics</h2>
            <div class="c1" style="background-color:lavenderblush;width: 50%;">
                    <h3>SCHOOL TEXT BOOKS AND GUIDES</h3>
                    <ul>
                        <li>NCERT|All books|Solved</li>
                        <li>Papers|Bundles & more</li>
                    </ul>
                    <form action="#">
                        <input type="button" value="shop now">
                    </form>
            </div>

            <div class="c2" style="background-color:cornsilk;width: 50%;">
                <h3>EXAM PREPARATION BOOKS</h3>
                <ul>
                    <li>UPSC|SSC|Govt Exams|Banking&</li>
                    <li>more from experts & publishers</li>
                </ul>
                <form action="#">
                    <input type="button" value="shop now">
                </form>


            </div>

            <div class="c3" style="background-color:lavenderblush;width: 50%;">
                <h3>UNIVERSITY TEXT BOOKS & REFERENCES</h3>
                <ul>
                    <li>Medical|Engineering|Law</li>
                    <li>Management & more</li>
                </ul>
                <form action="#">
                    <input type="button" value="shop now">
                </form>


            </div>

            <div class="c4" style="background-color:cornsilk;width: 50%;">
                <h3>CHILDREN BOOK STORE</h3>
                <ul>
                    <li>Children Boxsets|Board books</li>
                    <li>Picture Books & more</li>
                </ul>
                <form action="#">
                    <input type="button" value="shop now">
                </form>

            </div>


        </div>

    </body>
</html>
