<html>
    <head>
        <title>cart page</title>
    </head>
    <body>
        <h1>What is Amazon add to Cart?</h1>
        <img src="https://m.media-amazon.com/images/G/31/cart/empty/kettle-desaturated._CB424694257_.svg" alt="img2" height="350px" width="450px">

        <h3>
            <ul>
                <li>The "Add to Cart" form enables you to add any number of items to a customer's shopping cart and send the customer to the Amazon retail web site for completing the purchase. To offer better experience to your visitors, you may want to redirect to Amazon cart page in a new window.</li>
                <li>The Cart is a temporary place to store a list of your items and reflects each item's most recent price. Learn more. Do you have a gift card or promotional code? We'll ask you to enter your claim code when it's time to pay.</li>
            </ul>
        </h3>    


    </body>
</html>
