<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <h1>What is Amazon?</h1>
        <img src="https://m.economictimes.com/thumb/msid-78945418,width-1200,height-900,resizemode-4,imgsize-618447/amazon.jpg" alt="img1" height="250px" width="450px">
        <ul>
            <li>Amazon.com, online retailer, manufacturer of electronic book readers, and Web services provider that became the iconic example of electronic commerce. Its headquarters are in Seattle, Washington.</li>
            <li>Amazon.com is a vast Internet-based enterprise that sells books, music, movies, housewares, electronics, toys, and many other goods, either directly or as the middleman between other retailers and Amazon.com’s millions of customers. Its Web services business includes renting data storage and computing resources, so-called “cloud computing,” over the Internet.</li>
            <li>The company also makes the market-leading Kindle e-book readers. Its promotion of these devices has led to dramatic growth in e-book publishing and turned Amazon.com into a major disruptive force in the book-publishing market.</li>
        </ul>

        <h1>History Behind?</h1>
        <ul>
            <li>In 1994 Jeff Bezos, a former Wall Street hedge fund executive, incorporated Amazon.com, choosing the name primarily because it began with the first letter of the alphabet and because of its association with the vast South American river. On the basis of research he had conducted, Bezos concluded that books would be the most logical product initially to sell online.</li>
            <li>While Amazon.com famously started as a bookseller, Bezos contended from its start that the site was not merely a retailer of consumer products. He argued that Amazon.com was a technology company whose business was simplifying online transactions for consumers.</li>
        </ul>

        <h1 style="text-align: center;">GET-BIG-FAST!</h1>
    </body>
</html>